POSTGRES_DB=trust_ci
POSTGRES_USER=trust_ci_admin
POSTGRES_PASSWORD=REPLACE_WITH_LONG_RANDOM_ADMIN_PASSWORD
TRUST_CI_API_DB_PASSWORD=REPLACE_WITH_LONG_RANDOM_API_PASSWORD
TRUST_CI_WORKER_DB_PASSWORD=REPLACE_WITH_LONG_RANDOM_WORKER_PASSWORD
TRUST_CI_MIGRATOR_DB_PASSWORD=REPLACE_WITH_LONG_RANDOM_MIGRATOR_PASSWORD
TRUST_CI_BACKUP_DB_PASSWORD=REPLACE_WITH_LONG_RANDOM_BACKUP_PASSWORD
